name: ci

on: [push, pull_request]

jobs:
  build:
    name: ${{ matrix.kind }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-16.04]
        # os: [macOS-latest, windows-2019, ubuntu-16.04]
        kind: ["test", "lint"]

    steps:
      - name: Clone repository
        uses: actions/checkout@v1

      - name: Install rust
        uses: hecrj/setup-rust-action@v1
        with:
          rust-version: "1.41.0"

      - name: Install clippy and rustfmt
        if: matrix.kind == 'lint'
        run: |
          rustup component add clippy
          rustup component add rustfmt

      - name: Install Deno
        uses: denolib/setup-deno@master
        with:
          deno-version: 0.35.0

      - name: Start MongoDB (MacOs)
        if: matrix.kind == 'test' && startsWith(matrix.os, 'mac')
        run: |
          brew tap mongodb/brew
          brew install mongodb-community@4.2
          brew services start mongodb-community@4.2

      - name: Start MongoDB (Linux)
        if: matrix.kind == 'test' && startsWith(matrix.os, 'ubuntu')
        uses: wbari/start-mongoDB@v0.2
        with:
          mongoDBVersion: 4.2

      - name: Start MongoDB (Windows)
        if: matrix.kind == 'test' && startsWith(matrix.os, 'windows')
        run: |
          choco install mongodb --version=4.2.0 --no-progress
          "C:\Program Files\MongoDB\Server\4.2.0\bin\mongo.exe"

      - name: Environment (common)
        run: |
          echo ::set-env name=GH_ACTIONS::1
          echo ::set-env name=DENO_BUILD_MODE::release
          echo ::set-env name=RUST_BACKTRACE::full
      - name: Log versions
        run: |
          node -v
          rustc --version
          cargo --version
      - name: Cache cargo registry
        uses: actions/cache@v1
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache cargo index
        uses: actions/cache@v1
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache cargo build
        uses: actions/cache@v1
        with:
          path: target
          key: ${{ matrix.kind }}-${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}
      - name: Clippy
        if: matrix.kind == 'lint'
        run: cargo clippy --all-targets --release --locked -- -D clippy::all
      - name: Build
        if: matrix.kind == 'test'
        run: cargo build --release --locked --all-targets
      - name: Test Rust
        if: matrix.kind == 'test'
        run: cargo test --release --locked --all-targets
      - name: Test TS
        if: matrix.kind == 'test'
        run: deno run -A ./test.ts
